{% extends 'base.html' %}

{% block content %}

<h1>Providers</h1>
<p class="lead">Here you can find any debian image for cloud providers</p>
<div class="row">
    {% for provider in Providers %}
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <div class="card shadow-sm h-100">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ provider.name }}</h5>
                    <p class="card-text justify-text" style="min-height: 90px;">{{ provider.description }}</p>
                    <a href="/provider/{{ provider.id }}" class="btn btn-primary align-self-end mt-auto">See Images</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}