{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Providers</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/provider/{{ provider.id }}">{{ provider.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ image.ref }}</li>
    </ol>
</nav>
<div class="row mt-3">
    <div class="col-md-8">
        <h4 class="mt-3">Arch</h4>
        <p>{{ image.arch }}</p>
        <h4 >Release</h4>
        <p>{{ image.release }}</p>
        <h4 >Type</h4>
        <p>{{ image.img_type }}</p>
        <h4 >Version</h4>
        <p>{{ image.version }}</p>
        <h4 >Region</h4>
        <p>{{ image.region }}</p>
        <h4 >Artifact Url</h4>
        <p><a href="{{ image.artifact_url }}">{{ image.artifact_url }}</a></p>
        <h4 >Packages</h4>
        <div class="md-render mt-3 mb-3">
            {{ Packages|safe }}
        </div>
    </div>
    <div class="col-md-4">
        {% include "helper_card.html" %}
        <a href="{{ image.artifact_url }}" class="btn btn-primary">
            <i class="fa fa-download mr-1"></i>
            Artifact
        </a>
    </div>
</div>

{% endblock %}