{% block content %}

    <nav class="navbar navbar-dark shadow-sm navbar-expand-md fixed-top">
        <div>
            <a class="navbar-brand ml-3 mr-1" href="/">
            <img src="{{ url_for('static', filename='images/debian-logo.png') }}" height="35" alt="Debian">
            <a href="/" class="navbar-brand pb-0">Cloud Image Finder</a>
            </a>
        </div>
    </nav>

{% endblock %}