{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Providers</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ provider.name }}</li>
    </ol>
</nav>
<div class="d-flex justify-content-between align-items-center">
    <h1 class="mt-1">{{ provider.name }}</h1>
    <div>
        <a href="/provider/{{ provider.id }}/feed" class="btn btn-primary">
            <i class="fa fa-rss mr-1"></i>
            RSS Feed
        </a>
    </div>
</div>
<div class="border-top my-3"></div>
<div class="mt-4">
    {% include "search_form.html" %}
    <div class="table-responsive">
        <table id="dataTableProvider" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Release</th>
                <th>Type</th>
                <th>Architecture</th>
                <th>Version</th>
                <th>Region</th>
                <th>Id</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
                {% for image in images.items %}
                    <tr class="clickable-row" data-href="/image/{{ image.ref }}">
                        <td>{{ image.release }}</td>
                        <td>{{ image.img_type }}</td>
                        <td>{{ image.arch }}</td>
                        <td>{{ image.version }}</td>
                        <td>{{ image.region }}</td>
                        <td><a href="{{ image.artifact_url }}">{{ image.ref }}</a></td>
                        <td>{{ image.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex flex-row">
            <p>Showing {{ filtered_count }} entries (filtered from {{ total_count }} total entries)</p>
            <nav class="ml-4" aria-label="table-navigation">
                <ul class="pagination">
                    {% if images.has_prev %}
                    <li class="page-item"> <a class="page-link" href="{{ url_for_page(images.prev_num) }}">Previous</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
                    {% endif %}

                    {% for page in images.iter_pages(left_edge=3, right_edge=3) %}
                        {% if page %}
                            {% if page==images.page %}
                                <li class="page-item active"><a class="page-link" href="{{ url_for_page(page) }}">{{ page }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{ url_for_page(page) }}">{{ page }}</a></li>
                            {% endif %}
                        {% else %}
                            <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if images.has_next %}
                        <li class="page-item"> <a class="page-link" href="{{ url_for_page(images.next_num) }}">Next</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="border-top my-3"></div>
<div class="row">
    <div class="col-md-8 md-render mt-3 mb-3">
        {{ content|safe }}
    </div>
    <div class="col-md-4">
        {% include "helper_card.html" %}
    </div>
</div>

{% endblock %}