{% block content %}

    <div class="card mb-4">
        <div class="card-header">Image filter</div>
        <form class="d-flex align-items-center" action="" method="post" name="search">
            {{ form.hidden_tag() }}
                {{ form.ref(class_="form-control ml-2 m-1", placeholder="Id") }}
                {{ form.version(class_="form-control m-1", placeholder="Version") }}
                {{ form.release(class_="form-control m-1") }}
                {{ form.img_type(class_="form-control m-1") }}
                {{ form.arch(class_="form-control m-1") }}
                {{ form.region(class_="form-control m-1 mr-2") }}
                {{ form.submit(class_="btn btn-primary ml-auto m-2") }}
            </div>
        </form>
    </div>

{% endblock %}