body {
    padding-top: 5.5rem;
}

tr { cursor: pointer; }

.justify-text {
    text-align: justify;
}

.md-render {
    max-height: 700px;
    overflow-y: scroll;
    text-align: justify;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.navbar {
    background-image: linear-gradient(to right, #045DE9, #0693F1);
}